# OSX
.DS_Store

# temp files
*~
~$*

# arc files
.arclint
.arcconfig


# IDE
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*migrations/

# Distribution / packaging
.Python


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports

.coverage
.cache
coverage.xml


# Django stuff:
*.log
*.pot
*.mo

#IPython notebook
*.ipynb*

templates/web.model.bin.gz
